.container{
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;

  &--loading-spinner{
    position: absolute;
    margin: auto;
    top: 40%;
  }

  &--paginator {
    position: fixed;
    left: 0;
    bottom: 1rem;
    z-index: 100;
    flex-wrap: nowrap;
    font-size: 1.5rem;
    width: 100%;
  }
}

