<div class = "filterContainer"
     [ngClass]="{
        'hidden' : isFiltersOpen
     }">
  <h2><u>Filters</u></h2>
  <div class="filterRow">
    <strong>Breed:</strong>
    <mat-form-field appearance="standard">
      <mat-label>Enter a breed name...</mat-label>
      <input matInput [formControl]="breedName">
    </mat-form-field>
  </div>

  <div class="filterRow">
    <mat-form-field>
      <strong>Cats on page:</strong>
      <input type="number" matInput  min="1" [formControl]="onPage" (change) = changeOnPage() inputmode="numeric">
    </mat-form-field>
  </div>

  <div class="filterRow">
    <mat-checkbox color="primary"
                  [formControl]="isOnlyFavourite"
    >Only Favourite</mat-checkbox>
  </div>
</div>

<button mat-fab class="filterBarButton" color="primary"
        (click)="openFilterBar()">
  <mat-icon>{{ isFiltersOpen ? "close" : "filter_list" }}</mat-icon>
</button>
